*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.content{
    position: absolute;
    


}


.titli{
    border: 10px solid red;
    border-radius: 50%;
    width: 400px;
    margin: 0 auto;

   
  

}
.leni{
    display: block;
    position: absolute;
 background: #000;
    width: 40px;
    height: 40px;
   margin: 0 auto;
    bottom: -12px;
    right: 0;
    left: 0;
  
    border-radius: 50%;
}
