*{
    box-sizing: border-box;
}

body{
    background-color: aqua;
}
.hero-content{
    display: flex;
    width: 500px;
    margin: 0 auto;
    
    
   
}
.box{
   
}
.hero-site{
    padding: 100px 0;
    background-color: #fff;
   
   
}
.list{
    list-style: none;
   
}

.item{
    margin: 0 20px;

}