*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.site-header{
    padding: 56px 0 86px;
}
.contaener{
    width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
  
}
.header-enner{
   
display: flex;
align-items: center;
justify-content: space-between;




}
.nav{
    display: flex;
   
}
.logo-link{
    display: block;
    text-decoration: none;
}
.logo-img{
    display: block;
}





.header-list{
    display: flex;
    align-items: center;
    justify-content: end;

   
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header-item{
    list-style: none;
    margin-left: 40px;
   

   
   
    




}


.nav-link{
    color: rgba(31, 21, 52,0.5);
    text-decoration: none;

 



   

}
.active-item{
    margin-left: 0;
   


}
.active-link{
    color: rgba(31, 21, 52, 1);

}
/* HERO-SITE */
.hero-contaener{
display: flex ;
justify-content: space-between;
margin: 0 0 ;

}

.hero-content{
   
    margin: 188px 0 210px 149px;

}

.hero-titli{
    margin: 0;
    margin-bottom: 30px;
    font-size: 48px;





color: #000000;


}

.hero-text{
   margin: 0;
   margin-bottom: 40px;
    width: 440px;
    height: 96px;
    color:rgb(125, 121, 135); 
    font-size: 21px;
line-height: 32px; 
  

}

.hero-link{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
background: rgb(69, 143, 246);
border-radius: 30px;
padding: 15px 30px;
}

.hero-img{
    width: 609px;
    height: 532px;
}

/* SERVICE-SITE */
.servic-contaener{
margin: 100px 0;
}
.servic-content{

}

.servis-titli{
font-size: 36px;
color: #000000;
text-align:center;
}

.lena{
    display: block;
    width: 56px;
height: 2px;
background: #000000;
border-radius: 5px;
margin: 0 auto;


}
.servic-enner{
    width: 960px;
    height: 60px;
    margin: 0 auto;
}

.servic-text{
font-size: 18px;
text-align: center;

color: #7D7987;

}
.servic-list{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1180px;
   
    margin: 0 auto;
    list-style: none;

}
.servic{
    width: 380px;
    height: 380px;

   
    
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 68px  58px 41px 39px ;
}

.servic-item{
    color: #7D7987;
}

.servic-link{
    display: block;
    padding: 17px 51px;
   width: 200px;
   margin: 0 auto;
    text-decoration: none;
    
border: 1.4px solid #458FF6;
border-radius: 55px;
}
 /* SERVIC-SITE-FINISHED */

 /* LEDING-SITE-START */

 .leding-contaener{
display: flex;
width: 1180px;
align-items: center;


 }
 .leding-img{
   width: 609px;
   height: 532px; 
   margin: 100px 117px;
 }
.leding-content{

}

.leding-titli{
    font-size: 36px;
color: #000000;
width: 434px; 
height: 112px;

margin: 0;
}

.leding-leni{
    display: block;
    width: 50.7px;
height: 2px;
background: #000000;
border-radius: 10px;
margin: 30px 0;
}

.leding-text{
    font-size: 18px;
    color: #7D7987;
    width: 609px;
    margin: 0;

}

.leding-link{
 display: inline-block;   
border: 1.4px solid #458FF6;
border-radius: 55px;
padding: 15px 30px;
text-decoration: none;
margin: 40px 0;
}
/* LEDING-SETI */
/* MOBELI-SETI-SRART */
.mobeli-contaener{
    margin: 0 ;
    display: flex;
    
}



.mobeli-titli{
    font-size: 36px;

margin: 0 20px;

color: #000000;
}

.mobeli-leni{
    display: block;
    width: 50.7px;
height: 2px;
margin: 30px 20px;

background: #000000;
border-radius: 10px;
}

.mobeli-text{

    font-size: 18px;
margin: 0;
    height: 120px;
    width: 434px;
margin: 0 20px;

color: #7D7987;

}
.mobeli-link{
    display: inline-block;
    margin:40px 20px;
  padding: 15px 30px;
border: 1.4px solid rgb(69, 143, 246);
border-radius: 55px;
}

.mobeli-img{
    margin: 0;
    width: 665px;
    height: 434px;
    margin: 0 0 25px 210px;
    

}

/* MOBILE-SETI-FINISHED */

.what-site{
    margin: 0 20px;
}

.what-wrapper{
   
border-radius: 24px;
border: 2px solid rgb(103, 195, 243);
background-color: rgb(103, 195, 243);
margin: 0;
width: 1220px;




}

.what-content{
      
}
.what-titli{
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
}


.what-img{
    border-radius: 200px;

    
    
}

.what-enner{
    margin: 0;
    padding: 0;
}
.what-list{
    margin: 0;
    padding: 0;
}
.what-contaener{
   display: flex; 
   width: 1180px;
   justify-content:center;
   align-items: center;

  

}

.what-enner-titli{
   
font-size: 22px;


color: #FFFFFF;
}

.what-enner{
    font-size: 22px;
margin: 0;
padding: 0;

color: #FFFFFF;
}
.enner{
    width: 403px;
    height: 119;
    font-size: 19px;



color: rgba(255, 255, 255, 0.9);
}


.what-wrapper{
    width: 1180px;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
}

.what-item{
    display: flex;

}
