*{
        box-sizing: border-box;
}
img{
    vertical-align: middle;
}

.visually-hedding{
    clip:rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
   

}

body{
    margin: 0;
    padding: 0;
}



