body{
    background-color: #999;
}
.titli{
    text-align: center;
}

.div{
    display: flex;
    width: 500px;
    margin: 0 auto;
}

.box{
    width: 300px;
    background-color: #fff;
}

.box1{
    width: 300px;
    background-color: #fff;
}
.box2{
    width: 300px;
    background-color: #fff;
}