*{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

body{
    margin: 0;
   

}

.continer{
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    
}
.top{
   position: fixed;
   top:0;
   right: 0 auto;
   width: 1200px;
   z-index: 10;
    display: flex;
    align-items: center;
    margin: 30px 0;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #F6F6F6;
    margin-bottom: 30px;
    padding: 38px 0;

   
}
.navbar{
   
    margin-top: 60px;
    
   
}
.list{
    margin-top: 60px;
}
.nav-list{
    list-style: none;
    display: flex;
}
.navbar-list{
    list-style: none;
    display: flex;
    
}

.list-item {

    display: flex;
    align-items: center;
    justify-content:center;


}
.active{
    margin-right: 25px;
    margin-left: 45px;
}
.list-tem{
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.activ{
    margin-right: 25px;
}
.item-link{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
padding: 13px 20px;
text-decoration: none;
color: #FFFFFF;
background: #7296EC;
border-radius: 10px;
}
.list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.nav-item{
    text-decoration: none;
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
}

a{
    text-decoration: none;
    color: #7F7F7F;
}
.site-img{
    
background: url(optimize.png);
border-radius: 8px;
}
.hero-list{
    list-style: none;
    display: flex;
    flex-wrap:wrap;
}

.hero-titli{
    width: 358px;
height: 78px;
margin-bottom: 0;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* or 130% */


color: #000000;
}


.hero-text{
    width: 346px;
height: 44px;

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */


color: #4A4B4C;


}

.hero{
    
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-item{
    margin: 10px ;
}

.hero-link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../imges/Group\ 35\ 1.png);
    background-repeat: no-repeat;
    width: 1050px;
    margin: 0 auto;
    
}

.div-text{
    gap: 24px  397px 29px ;
}

.link{
    background: #F78B3B;
    border-radius: 10px;
padding: 13px 30px;
color: #fff;
}

.link:hover{
    border-radius: 20px;
background-color: #000000;
}
.kitay-link{
    display: flex;
}



