*{
    box-sizing: border-box;
}
body{
    background: #FF7979;
}

.contaener{
    width: 1200px;
    margin: 0 auto;

}
.enner{
    display: flex;
    justify-content: space-between;
}

.content{
    margin: 290px 160px 379px 45px;
}
.titli{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 55px;
/* or 110% */
width: 525px;
letter-spacing: -0.520833;
color: #FFFFFF;
}


.text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    width: 525px;
    
    color: #FFFFFF; 
}

.link{
   display: block;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 26px;
text-decoration: none;
text-align: center;
letter-spacing: 0.267857px;
margin: 24px 0;
color: #FFFFFF;
background: #5E54A4;
box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
border-radius: 10px;
padding: 15px 60px;
}
.form{
width: 540px;

   margin: 121px 0;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
}
.active{
    height: 474px;
    background: #FFFFFF;
    background: #FFFFFF;
box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
border-radius: 10px;
}
input{
    display: block;
    width: 440px;
    margin: 20px 40px;
    padding: 25px 0;
background: #FFFFFF;
border: 1px solid #5E54A4;
border-radius: 5px;
}
.submit-btn{
    width: 440px;
    margin: 0 24px 0 0;
   padding: 25px 0;
    background: #38CC8B;
box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
border-radius: 5px;
color: #fff;
}


p{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 26px;
/* identical to box height, or 236% */

text-align: center;

color: #BAB7D4;
}


.red-text{
   color: #FF7979;
}