

.top{
    display: flex;
    align-items: center;
    width: 600px;
    margin: 0 auto;

}

ul{
    display: flex;
    list-style: none;
}
li{
    margin: 0 25px;
}

a{
    text-decoration: none;
}

img{
    display: block;
    width: 600px;
    margin: 0 auto;
}